Package: sparse-imager-doc
Source: sparse-imager
Version: 0.1-1
Architecture: all
Maintainer: Ruud Schramp <ruud@schramp.com>
Installed-Size: 32
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: documentation for sparse-imager
 <insert long description, indented with spaces>
