Package: sparse-imager
Version: 0.1-1
Architecture: i386
Maintainer: Ruud Schramp <ruud@schramp.com>
Installed-Size: 176
Depends: libc6 (>= 2.4), libglib2.0-0 (>= 2.16.0), python, python-mysqldb
Section: unknown
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
